@model Turnos.Models.Especialidad

<h4>Especialidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="col s12">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <input asp-for="Descripcion" type="text" class="validate">
                <label asp-for="Descripcion"></label>
                <span asp-validation-for="Descripcion"></span>
            </div>
            <div>
                <button type="submit" class="btn waves-effect waves-light">
                    <i class="material-icons left">send</i>Guardar
                </button>
                <a asp-action="Index" class="waves-effect waves-light red btn">
                    <i class="material-icons left">undo</i>Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
